/* --- Watermark Row (MY RECENT WORK) --- */
.work-watermark-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 3%;
    font-family: 'Micro 5', 'Courier New', monospace;
    font-size: clamp(14px, 2vw, 25px);
    color: rgba(255, 255, 255, 0.216);
    letter-spacing: 0.7em;
    text-transform: uppercase;
    box-sizing: border-box;
}

/* remove the .work-watermark-row span rule entirely */


.work-top-marquee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 5%;
    font-family: 'Micro 5', 'Courier New', monospace;
    font-size: clamp(14px, 2vw, 25px);
    color: rgba(255, 255, 255, 0.216);
    letter-spacing: 0.7em;
    text-transform: uppercase;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.08); */
    box-sizing: border-box;
}

/* --- FEATURED DESIGNS Heading --- */
.work-featured-heading {
    font-family: 'Anton', sans-serif;
    font-size: clamp(10px, 20vw, 250px);
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.02em;
    line-height: 1;
    margin: 60px 20px 100px 0px;
    width: 100%;
}

.work-section h2>span {
    color: var(--accentColor);
}

.work-section {
    transition: 0s;
    height: 100vh;
    padding: 0 30px;
    box-sizing: border-box;
    will-change: transform;
    /* overflow: hidden; */
}

.work-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: stretch;
    overflow: hidden;
}

.work-flex {
    width: 100%;
    display: flex;
    height: 100%;
    margin-left: 0;
    /* ← remove the -30px */
    width: 100%;
    /* ← remove the calc(100% + 60px) */
    padding-right: 0;
    position: relative;
}

.work-box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 500px;
    box-sizing: border-box;
    border-right: 1px solid #363636;
    flex-shrink: 0;
    gap: 20px;
    justify-content: start;
}

.work-flex .work-box:first-child {
    border-left: 1px solid #363636;
}

.work-flex .work-box:last-child {
    border-right: 1px solid #363636;
}

.work-flex .work-box:nth-child(even) {
    flex-direction: column-reverse;
    border-right: 1px solid #363636;
}

.work-flex::before,
.work-flex::after {
    content: "";
    width: max-content;
    /* was: 100% */
    min-width: 100%;
    height: 1px;
    background-color: #363636;
    position: absolute;
    left: 0;
    top: 0;
    min-width: max-content;
}

.work-flex::after {
    top: 100%;
}

.work-title {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.work-title>div {
    text-align: right;
}

.work-title h3 {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    font-weight: 600;
    font-family: 'Courier New', monospace;
}

.work-info h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.work-info p {
    font-weight: 200;
    color: #adacac;
    margin: 0;
    margin-top: 3px;
}

.work-info>p {
    width: 90%;
}

.work-image {
    display: flex;
    width: 100%;
    justify-content: center;
}

.work-image-in {
    position: relative;
}

.work-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--backgroundColor);
    width: 50px;
    border-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5),
        inset 0px 0px 10px 0px #393939;
    transition: 0.3s;
    opacity: 0;
}

.work-image a:hover {
    color: inherit;
}

.work-image a:hover .work-link {
    opacity: 1;
}

.work-image video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    object-fit: cover;
}

.work-image img {
    max-width: 100%;
    max-height: 350px;
}

@media only screen and (max-height: 900px) {
    .work-image img {
        max-height: 250px;
    }

    .work-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .work-featured-heading {
        font-size: 80px;
        margin: 40px 0 80px 0;
    }
}

@media only screen and (max-width: 1400px) {
    .work-title h3 {
        font-size: 35px;
    }

    .work-info p {
        font-size: 13px;
    }

    .work-info h4 {
        font-size: 15px;
    }

    .work-box {
        width: 450px;
        padding: 50px;
    }

    .work-flex {
        margin-left: 0;
        padding-right: 0;
    }

    .work-featured-heading {
        font-size: 70px;
    }
}

@media only screen and (max-width: 1400px) {
    .work-box {
        width: 350px;
        padding: 30px;
    }

    .work-flex {
        margin-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-height: 650px) {
    .work-image img {
        max-height: 200px;
    }

    .work-featured-heading {
        font-size: 60px;
        margin: 30px 0 60px 0;
    }

    .work-box {
        gap: 20px;
    }
}

/* @media only screen and (max-width: 900px) {
  .work-image img {
    max-height: 200px;
  }
  .work-section h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .work-box {
    gap: 20px;
  }
} */
@media only screen and (max-width: 1025px) {
    .work-container {
        align-content: normal;
    }

    .work-flex {
        height: auto;
    }
}